/CommonLib/nbproject/private/
/Client/nbproject/private/
/CommonLib/build/
/CommonLib/dist/
/Server/nbproject/private/
/Server/build/
/Server/dist/
/PrimeHoldingJava/nbproject/private/
/Client/build/
/ReadFileSum/nbproject/private/
/ReadFileSum/build/
